[sssd]
domains = {{ sssd_domain }}
config_file_version = 2
services = nss, pam

[domain/{{ sssd_domain }}]
default_shell = {{ sssd_default_shell }}
krb5_store_password_if_offline = True
cache_credentials = {{ 'True' if sssd_cache_credentials else 'False' }}
krb5_realm = {{ sssd_realm | upper }}
realmd_tags = manages-system joined-with-adcli
id_provider = ad
fallback_homedir = {{ sssd_fallback_homedir }}
ad_domain = {{ sssd_domain }}
use_fully_qualified_names = {{ 'True' if sssd_use_fully_qualified_names else 'False' }}
ldap_id_mapping = {{ 'True' if sssd_ldap_id_mapping else 'False' }}
access_provider = {{ sssd_access_provider }}
