{# idmapd.conf.j2 - NFSv4 ID mapping configuration for the storage server. #}
{# #}
{# Maps between NFSv4 string names (user@domain) and local UIDs/GIDs. #}
{# The domain MUST match between server and clients for correct mapping. #}
[General]
Verbosity = 0
Domain = {{ sssd_domain }}

[Mapping]
Nobody-User = nobody
Nobody-Group = nogroup
