{# nsswitch.conf.j2 - Name service switch configuration for DC-as-client. #}
{# SSSD (configured in sssd.yml) resolves AD users/groups on the DC. #}
{# Winbind is intentionally not used here because samba-ad-dc's internal #}
{# winbind doesn't return secondary AD group memberships through #}
{# getgrouplist(), which breaks NFS server-side access checks. #}
passwd:         files sss
group:          files sss
shadow:         files sss

hosts:          files dns
networks:       files

protocols:      db files
services:       db files
ethers:         db files
rpc:            db files
