{# ntp.conf.j2 - NTP configuration for the Samba AD Domain Controller. #}
{# #}
{# Accurate time is critical for Kerberos: tickets are time-stamped and #}
{# a clock skew >5 minutes causes authentication to fail domain-wide. #}
{# The ntpsigndsocket directive tells NTP to sign responses for AD clients #}
{# using the Samba signing socket, enabling secure time sync. #}

driftfile /var/lib/ntp/ntp.drift
leapfile /usr/share/zoneinfo/leap-seconds.list

{# Restrict directives: default is deny-all; explicitly allow localhost #}
{# and upstream servers.  mssntp enables MS-SNTP signing for AD clients. #}
restrict default kod limited nomodify notrap nopeer mssntp
restrict 127.0.0.1
restrict ::1

{% for server in samba_ntp_servers %}
server {{ server }} iburst
{# Allow the upstream server to respond but not modify the local config #}
restrict {{ server }} mask 255.255.255.255 nomodify notrap nopeer noquery
{% endfor %}

{# The ntp_signd socket must be accessible by the ntp group (set in tasks). #}
ntpsigndsocket /var/lib/samba/ntp_signd
