{# smb.conf.j2 - Samba configuration template for the AD Domain Controller. #}
{# #}
{# This template deploys smb.conf AFTER samba-tool domain provision has run. #}
{# The [global] section parameters must be compatible with the provisioned #}
{# domain; changing server role or realm after provisioning will break things. #}

[global]
    workgroup = {{ samba_domain }}
    realm = {{ samba_realm }}
    netbios name = {{ ansible_facts['hostname'] | upper }}
    server role = {{ samba_server_role }}
    dns forwarder = {{ samba_dns_forwarder }}
    {# Mirror the interface binding passed to `samba-tool domain provision` #}
    {# (--option=interfaces / bind interfaces only).  Without repeating it  #}
    {# here, this template would silently widen the DC to all interfaces.  #}
    interfaces = lo {{ ansible_facts['default_ipv4']['interface'] }}
    bind interfaces only = yes
    {# rfc2307 enables POSIX UID/GID attributes in AD for NFS interop #}
    idmap_ldb:use rfc2307 = {{ 'yes' if samba_use_rfc2307 else 'no' }}
{% if samba_tls_enabled %}
    tls enabled = yes
    tls keyfile = tls/key.pem
    tls certfile = tls/cert.pem
    tls cafile = tls/ca.pem
{% endif %}
    {# Per-machine log files simplify debugging multi-client environments #}
    log file = /var/log/samba/log.%m
    max log size = 1000
    logging = file
    panic action = /usr/share/samba/panic-action %d

{# --- DC system shares (required for AD operation) --- #}
[netlogon]
    path = /var/lib/samba/sysvol/{{ samba_realm | lower }}/scripts
    read only = No

[sysvol]
    path = /var/lib/samba/sysvol
    read only = No
